<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="30" />
    <meta name="theme-color" content="#018ADA" />
    <title>Eisenhower Matrix | MyCourseVille</title>
    <link
      rel="shortcut icon"
      href="https://www.mycourseville.com/sites/all/modules/courseville/pict/favicon.ico"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="mycourseville-logo" aria-hidden="true">
      <img
        src="https://www.mycourseville.com/sites/all/modules/courseville/files/logo/cv-logo.png"
        aria-label="Mycourseville"
        title="Mycourseville"
      />
    </div>

    <div id="login-form">
      <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />

        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
