<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="120" />
    <meta name="theme-color" content="#018ADA" />
    <meta name="font-color" content="#030303" />
    <title>Eisenhower Matrix | MyCourseVille</title>
    <script src="script.js"></script>
    <link
      rel="shortcut icon"
      href="https://www.mycourseville.com/sites/all/modules/courseville/pict/favicon.ico"
    />
    <link rel="stylesheet" href="style-login.css" />
    <style>
      body {
        background-image: url("./src/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <div id="main-block" class="vertical-center">
      <div id="mycourseville-logo" aria-hidden="true">
        <img
          src="https://www.mycourseville.com/sites/all/modules/courseville/files/logo/cv-logo.png"
          aria-label="Mycourseville"
          title="Mycourseville"
          class="center width75"
        />
      </div>

      <div id="login-form" class="center">
        <center><h2>Login to myCourseVille</h2></center>
        <hr class="mb-20" />

        <!--
          <label for="username" class = "center">Username</label>
          <input type="text" id="username" class = "center" name="username" />

          <label for="password" class = "center">Password</label>
          <input type="password" id="password" class = "center" name="password" />
          -->

        <button
          id="login-button"
          class="center width100"
          onclick="authorizeApplication()"
          style="font-size: 20px"
        >
          Login
        </button>
      </div>
    </div>
  </body>
</html>
