<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="30" />
    <meta name="theme-color" content="#018ADA" />
    <title>Eisenhower Matrix | MyCourseVille</title>
    <link
      rel="shortcut icon"
      href="https://www.mycourseville.com/sites/all/modules/courseville/pict/favicon.ico"
    />
    <link rel="stylesheet" href="style-login.css" />
  </head>

  <body>
    <div id = "mycourseville-logo" aria-hidden = "true">
      <img
        src = "https://www.mycourseville.com/sites/all/modules/courseville/files/logo/cv-logo.png"
        aria-label = "Mycourseville"
        title = "Mycourseville"
        class = "center"
      />
    </div>

    <div id = "login-form" class = "center">
        <h2 class = "center">Login to myCourseVille</h2>
        <hr class = "mb-20 center">

        <!--
        <label for="username" class = "center">Username</label>
        <input type="text" id="username" class = "center" name="username" />

        <label for="password" class = "center">Password</label>
        <input type="password" id="password" class = "center" name="password" />
        -->

        <input type = "submit" class = "center" value = "Login" />
    </div>
  </body>
</html>
