<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="script.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="style-page.css" />
  </head>
  <body onload="onLoad()">
    <header>
      <div id="header-text">
        <p id="main-header">Tasks Prioritization Chart</p>
        <p id="sub-header">powered by MyCourseVille</p>
      </div>

      <div id="profile">
        <img src="./src/profiletest.png" alt="profilepic" />
        <p>Welcome! <span id="username"></span></p>
        <p id="info">Faculty of Engineering Yr.1 Semester1</p>
      </div>
    </header>
    <div id="Eisenhower-Matrix">
      <p class="text-header" id="eisen-header">Eisenhower-Matrix</p>
      <div id="grid">
         <div class="boxtest" id="box1">
          <p id="label-urgent">Urgent</p>
          <p >hello world</p>

          <p id="label-important">Important</p>
        </div>
        <div class="boxtest" id="box2">
          <p>hello world</p>
          <p id="label-L-urgent">Less Urgent</p>
        </div>
         <div class="boxtest" id="box3">
          <p>hello world</p>
          <p id="label-L-important">Less Important</p>

        </div>
         <div class="boxtest" id="box4"><p>hello world</p></div>
      </div>

     </div>
   </div>
   <div id="app-container">
      <div id="tasks">
        <p class="text-header">Tasks</p>
        <ul>
          <li>
            <div class="subject"><p>comprog</p></div>
            <div class="urgent">
              <p class="due-date">ภายใน 3 วัน</p>
              <p class="urgent-label">เร่งด่วน</p>
            </div>
            <div class="important">
              <p class="importance">ความสำคัญ</p>
              <p class="important-label">สำคัญ</p>
            </div>
          </li>
          <li>
            <div class="subject"><p>comprog</p></div>
            <div class="urgent">
              <p class="due-date">ภายใน 3 วัน</p>
              <p class="urgent-label">เร่งด่วน</p>
            </div>
            <div class="important">
              <p class="importance">ความสำคัญ</p>
              <p class="important-label">สำคัญ</p>
            </div>
          </li>
          <li>
            <div class="subject"><p>comprog</p></div>
            <div class="urgent">
              <p class="due-date">ภายใน 3 วัน</p>
              <p class="urgent-label">เร่งด่วน</p>
            </div>
            <div class="important">
              <p class="importance">ความสำคัญ</p>
              <p class="important-label">สำคัญ</p>
            </div>
          </li>
          <li>
            <div class="subject"><p>comprog</p></div>
            <div class="urgent">
              <p class="due-date">ภายใน 3 วัน</p>
              <p class="urgent-label">เร่งด่วน</p>
            </div>
            <div class="important">
              <p class="importance">ความสำคัญ</p>
              <p class="important-label">สำคัญ</p>
            </div>
          </li>
        </ul>
      </div>
      <div id="about-us">
        <p class="text-header" >About us</p>
        <ul>
          <li>This is ComEngEss project</li>
          <li>เร่งด่วนหมายถึงงานที่ต้องส่งภายใน 3 วัน</li>
          <li>Task ที่ผู้ใช้ยังไม่ระบุความสำคัญจะยังไม่แสดงบน Eisenhower Matrix</li>
        </ul>
      </div>
  </div>
  </body>

</html>
