<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "UTF-8" />
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" />
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <script src = "script.js"></script>
    <title>Eisenhower Matrix | MyCourseVille</title>
    <link
      rel = "shortcut icon"
      href = "https://www.mycourseville.com/sites/all/modules/courseville/pict/favicon.ico"
    />
    <link rel = "stylesheet" href = "style-page.css"/>
  </head>

  <body onload = "onLoad()">
    <div id = "introduction" class = "block center">
      <div class = "center" aria-hidden = "true">
        <center><img
          src = "https://www.mycourseville.com/sites/all/modules/courseville/files/logo/cv-logo.png"
          aria-label = "Mycourseville"
          title = "Mycourseville"
          class = "center"
          id = "mycourseville-logo"
        /></center>
      </div>
        <div id="header-text">
          <center><p id="main-header">Tasks Prioritization Chart</p></center>
          <p id="sub-header">powered by MyCourseVille</p>
        </div>

        <div id="profile">
          <img src="./src/profiletest.png" alt="profilepic" />
          <p>Welcome! <span id="username"></span></p>
          <p id="info">Faculty of Engineering Yr.1 Semester1</p>
        </div>
    </div>
    
    <div id="Eisenhower-Matrix">
      <p class="text-header" id="eisen-header">Eisenhower-Matrix</p>
      <div id="grid">
         <div class="boxtest" id="box1">
          <p id="label-urgent">Urgent</p>
          <p >hello world</p>

          <p id="label-important">Important</p>
        </div>
        <div class="boxtest" id="box2">
          <p>hello world</p>
          <p id="label-L-urgent">Less Urgent</p>
        </div>
         <div class="boxtest" id="box3">
          <p>hello world</p>
          <p id="label-L-important">Less Important</p>

        </div>
         <div class="boxtest" id="box4"><p>hello world</p></div>
      </div>

     </div>
   </div>
   <div id="app-container">
      <div id="tasks">
        <p class="text-header">Tasks</p>
        <table id="main-table">
          <thead>
            <tr>
              <th>ชื่อ tasks</th>
              <th>ความสำคัญ</th>
              <th>ดำเนินการ</th>
            </tr>
          </thead>



          <tr>
            <td>Comprog</td>
            <td>
              <select name="select-important" id="important-to-add">
                <option value="0"></option>
                <option value="1">สำคัญ</option>
                <option value="2">ไม่สำคัญ</option>
              </select>
            <td><button class="delete-row">อัปเดต</button></td>
          </tr>

        </table>
      </div>
      <div id="about-us">
        <p class="text-header" >About us</p>
        <ul>
          <li>This is ComEngEss project</li>
          <li>เร่งด่วนหมายถึงงานที่ต้องส่งภายใน 3 วัน</li>
          <li>Task ที่ผู้ใช้ยังไม่ระบุความสำคัญจะยังไม่แสดงบน Eisenhower Matrix</li>
        </ul>
      </div>
  </div>
  </body>

</html>
