body {
    font-family: 'Prompt', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Prompt', sans-serif;
}
h2{
    font-size: 30px;
    font-weight: 500;
}
label,
input {
    display: block;
    margin-bottom: 1%;
}

#login-button {
    background-color: #018ADA;
    color: white;
    border: none;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    cursor: pointer;
}
#mycourseville-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 450px;
    height: 50px;
    margin-bottom: 5%;
    margin-top: 7.5%;
}
.login-form{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #f2f2f2;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
    max-width: 100px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mb-20{
    margin-bottom: 20px;
}
#login-form{
    max-width:50%;
}
.width100{
    width: 100%;
}
.width75{
    width: 75%;
}
.vertical-center{
    display: block;
    margin-top: 200px;
    margin-bottom: auto;
}
#bg{
    display:grid;
}