@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");
body {
  font-family: "Mitr", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #030303;
}

#main-header {
  font-size: 50px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#sub-header {
  font-size: 15px;
  font-weight: lighter;
  position: absolute;
  margin: 0px;
  padding: 0px;
  right: 10px;
  top: 2px;
}
#profile {
  margin: 0px;
  padding: 0px;
  width: 800px;
  height: 200px;
  position: relative;
  left: 350px;
  top: 20px;
  border: 1px solid black;
}
#profile p {
  margin: 0px;
  position: relative;
  left: 33%;
  top: 60px;
  font-size: 20px;
  font-weight: lighter;
}

#profile img {
  top: 20px;
  left: 20px;
  position: absolute;
  width: 150px;
}

#grid {
  margin: 80px auto;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 300px;
  row-gap: 0px;
  column-gap: 9px;
  width: 620px;
  height: 610px;
  justify-content: center;
  /* border: 2px solid black; */
}
#eisen-header {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
  left: 200px;
}
#Eisenhower-Matrix .boxtest {
  position: relative;
  margin: 0px;
  padding: 0;
  border-radius: 8px;
  width: 300px;
  height: 300px;
}
#box1 {
  background-color: rgb(247, 94, 94);
}
#box2 {
  background-color: rgb(182, 102, 102);
}
#box3 {
  background-color: tomato;
}
#box4 {
  background-color: burlywood;
}
#label-urgent {
  font-size: 30px;
  position: absolute;
  top: -80px;
  left: 95px;
  color: rgb(76, 77, 77);
}
#label-L-urgent {
  font-size: 30px;
  position: absolute;
  top: -80px;
  left: 65px;
  color: rgb(76, 77, 77);
}
#label-important {
  font-size: 30px;
  transform: rotate(270deg);
  position: absolute;
  top: 90px;
  left: -105px;
  color: rgb(76, 77, 77);
}
#label-L-important {
  font-size: 30px;
  transform: rotate(270deg);
  position: absolute;
  top: 90px;
  left: -142px;
  color: rgb(76, 77, 77);
}
#tasks {
  position: relative;
}
#tasks ul {
  padding: 0px;
}
#tasks li {
  list-style: none;
  border: 2px solid black;
  border-radius: 10px;
  width: 600px;
  height: 170px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
}
#tasks li p {
  margin: 0px;
}
#tasks li .subject {
  background-color: aquamarine;
  flex-grow: 1;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}
#tasks li .urgent {
  background-color: beige;
  flex-grow: 2;
  display: flex;
  flex-flow: column wrap;
}
#tasks li .important {
  background-color: brown;
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
}
#tasks li .urgent .due-date {
  background-color: chartreuse;
  flex-grow: 1;
  text-align: center;
}
#tasks li .urgent .urgent-label {
  background-color: rgb(165, 96, 230);
  flex-grow: 1;
  text-align: center;
}
#tasks li .importance {
  background-color: cadetblue;
  flex-grow: 1;
  text-align: center;
}
#tasks li .important-label {
  background-color: blanchedalmond;
  flex-grow: 1;
  text-align: center;
}
.urgent p,
.important p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: lighter;
  font-size: 20px;
}
.text-header {
  font-size: 35px;
  /* position: absolute; */
  margin: 0;
  font-weight: bolder;
}

#app-container {
  display: flex;
  justify-content: space-evenly;
}

#about-us ul {
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 20px;
  border: 2px solid black;
  width: 500px;
  height: 300px;
}
#about-us li {
  font-weight: lighter;
  font-size: 20px;
}
