@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");
body {
  font-family: "Mitr", sans-serif;
  color: #030303;
  padding: 0px;
  padding: 0px;
}

#main-header {
  font-size: 6vh;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#sub-header {
  font-size: 15px;
  font-weight: lighter;
  position: absolute;
  margin: 0px;
  padding: 0px;
  right: 2.5%;
  top: 5%;
}
@media screen {
}
#profile {
  display: flow-root;
  margin-top: 30px;
  padding: 5%;
  max-width: fit-content;
  border: 1px solid black;
}
#profile h2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  font-size: medium;
  font-weight: lighter;
}

#profile img {
  display: block;
  max-width: 30vw;
  height: 5%;
  margin-top: auto;
  margin-bottom: auto;
}
#profile #metadata {
  position: relative;
}
#profile button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  bottom: -11px;
  right: 0px;
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  width: 70px;
  cursor: pointer;
  font-family: "Mitr", sans-serif;
}
#Eisenhower-Matrix {
  display: grid;
  position: relative;
  /* justify-content: center; */
}
#grid {
  /* margin-top: 30px; */
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(3, 0fr);
  gap: 3%;
  text-align: left;
  /* background-color: #555; */
}
#eisen-header {
  justify-self: center;
  margin-top: 5%;
  margin-bottom: 80px;
}
#Eisenhower-Matrix .boxtest {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-radius: 10%;
  height: 45vh;
  width: 55vh;
  /* display: flex; */
  /* align-items: center; */
}

#matrix-container {
  display: grid;
  /* position: relative; */
  justify-content: center;
}
.label {
  font-size: 3vh;
  text-align: center;
}

#box1 {
  background-color: #f2c2c2;
}
#box2 {
  background-color: #f5e4dc;
}
#box3 {
  background-color: #c1ddd8;
}
#box4 {
  background-color: #9ec4c5;
}
.box-data {
  padding-left: 7px;
  align-self: flex-start;
  display: block;
  width: 52vh;
  word-wrap: break-word;
  font-size: 2.2vh;
  font-weight: 350;
  margin: 5px;
}

#main-table {
  padding: 0;
  width: 100%;
  background: #eee;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  overflow: hidden;
}
#main-table > thead {
  background: #555;
  color: white;
}
#main-table > thead > tr > th {
  font-weight: lighter;
  text-align: left;
}
#main-table td,
#main-table th {
  padding: 5px 10px;
  font-weight: lighter;
}
#tasks-to-add,
.important-to-add {
  font-family: "Mitr", sans-serif;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}
.delete-row,
#add-newrow {
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  width: 60px;
  cursor: pointer;
  font-family: "Mitr", sans-serif;
}

.delete-row:hover,
#add-newrow:hover {
  background: rgb(255, 200, 105);
  color: white;
}
.text-header {
  font-size: 6vh;
}

#app-container {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

#about-us ul {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 7%;
  padding-right: 2%;
  border: 1px solid black;
  border-radius: 5px;
  width: 75vw;
  max-width: 500px;
  height: fit-content;
}
#about-us li {
  font-weight: lighter;
  font-size: 100%;
}
#mycourseville-logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}
.inline-block {
  display: inline-block;
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
#introduction {
  margin-top: 100px;
}
.block {
  display: block;
}

@media (max-width: 600px) {
  #Eisenhower-Matrix .boxtest {
    position: relative;
    margin: 0px;
    padding: 0;
    border-radius: 10%;
    height: 40vw;
    width: 40vw;
  }
  .label {
    font-size: 2.2vh;
    text-align: center;
  }
  #label-urgent {
    font-size: 2.2vw;
    text-align: center;
  }
  .box-data {
    padding-left: 3px;
    align-self: flex-start;
    display: block;
    width: 30vh;
    word-wrap: break-word;
    font-size: 1.8vh;
    font-weight: 350;
    margin: 5px;
  }
  .text-header {
    font-size: 4vh;
  }
  #eisen-header {
    justify-self: center;
    margin-top: 5%;
    margin-bottom: 35px;
  }
  .box-data {
    padding-left: 7px;
    align-self: flex-start;
    display: block;
    width: 35vw;
    word-wrap: break-word;
    font-size: 2.2vw;
    font-weight: 350;
    margin: 5px;
  }
}

hr {
  color: #030303;
  margin-top: 5%;
}
