body {
    font-family: 'Prompt', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Prompt', sans-serif;
}
label,
input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #018ADA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#mycourseville-logo{
    width:100%;
    max-width:125px;
    height:auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
.login-form{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #f2f2f2;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
